<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-view-grid"></i><span class="nav-label">HOME</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLinkActive="active" routerLink="/index">DASHBOARD</a>
      </ul>
    </li>
    <li class="heading">Menu</li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-check-box"></i><span class="nav-label">PRODUÇÃO</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">

        <li><a routerLink="/associado" routerLinkActive="active">ASSOCIADOS</a>
        </li>


      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-money"></i><span class="nav-label">FINANCEIRO</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/contareceber" routerLinkActive="active">CONTAS A RECEBER</a>
        </li>
        <li><a routerLink="/contapagar" routerLinkActive="active">CONTAS A PAGAR</a>
        </li>

      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-bar-chart"></i><span class="nav-label">RELATÓRIOS</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/balanco" routerLinkActive="active">PRODUÇÃO GERAL</a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-archive"></i><span class="nav-label">Cadastros</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">

        <li><a routerLink="/pessoajuridica" routerLinkActive="active">Convenios</a>
        </li>
        <li><a routerLink="/profissional" routerLinkActive="active">Correspondentes</a>
        </li>
        <li><a routerLink="/profissional" routerLinkActive="active">Corretores</a>
        </li>
        <li><a routerLink="/profissional" routerLinkActive="active">Associacoes</a>
        </li>
      </ul>
    </li>


    <li routerLinkActive="active">
      <a routerLink="/usuario"><i class="sidebar-item-icon ti-user"></i><span class="nav-label">Usuários</span><i class="fa fa-angle-left arrow"></i></a>
    </li>

  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a routerLink="/calendar"><i class="ti-calendar"></i></a><a routerLink="/mailbox"><i class="ti-comments"></i></a><a href="login.html"><i class="ti-power-off"></i></a></div>
</div>


<li routerLinkActive="active">
  <a href="javascript:;">
    <i class="sidebar-item-icon ti-bookmark-alt">
    </i><span class="nav-label">Administrativo</span>
    <i class="fa fa-angle-left arrow"></i></a>
  <ul class="nav-2-level collapse" routerLinkActive="in">
    <li><a routerLink="/profissional" routerLinkActive="active">Profissional</a>
    </li>
  </ul>
</li>
