<div class="page-header page-header-profile">
    <div class="ibox flex-1">
        <div class="ibox-body">
            <div class="flexbox">
                <div class="flexbox-b">
                    <div class="ml-5 mr-5">
                        <img class="img-circle" src="./assets/img/users/admin-image.png" alt="image" width="110" />
                    </div>
                    <div>
                        <h4>Ivo asdsdadasd</h4>
                        <div class="text-muted font-13 mb-3">
                            <span class="mr-3"><i class="ti-location-pin mr-2"></i>Salvador, Bahia</span>
                            <span><i class="ti-calendar mr-2"></i>12.04.2018</span>
                        </div>
                        <div>
                            <span class="mr-3">
                                <span class="badge badge-success badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-briefcase"></i></span>Fisioterapeuta</span>
                          
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex" style=" margin-right: 300px; ">
                  <div class="px-4 text-center">
                    <button data-toggle="modal" data-target="#ocorrencia-modal" href="javascript:;" class="btn btn-primary btn-labeled btn-labeled-left btn-icon">
                      <span class="btn-label"><i class="la la-check-square"></i></span>Protocolo</button>
                  </div>
                        <div class="px-4 text-center">
                                <button  href="javascript:;" class="btn btn-primary btn-labeled btn-labeled-left btn-icon">
                                    <span class="btn-label"><i class="la la-check-square"></i></span>Ocorrências</button>
                            </div>

                       
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">PAD</div>
                        <div class="h2 mt-2">12345678</div>
                    </div>
                    <div class="px-4 text-center">
                        <div class="text-muted font-13">Inscrição</div>
                        <div class="h2 mt-2">123465-F</div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs tabs-line m-0 pl-5 pr-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#principal"><i class="ti-briefcase mr-2"></i>Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#cobranca"><i class="ti-support mr-2"></i>Cobrança</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#certificado"><i class="ti-settings mr-2"></i>Certificado/Declaração/ofício</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#arquivodigital"><i class="ti-settings mr-2"></i>Arquivo Digital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#documento"><i class="ti-settings mr-2"></i>Modelo de documento</a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane tab-pane-profile fade show active " id="principal">
       
        <div class="row">
            <div class="col-md-12">
                <div class="ibox ibox-fullheight">
                    <div class="ibox-head">
                        <div class="ibox-title">Informações Cadastrais</div>
                    </div>
                    <form class="form-info" action="javascript:;">
                        <div class="ibox-body">
                            <div class="row">
                                        
                                <div class="col-sm-10 form-group mb-10">
                                    <label>Nome</label>
                                    <input class="form-control" type="text" >
                                </div>
                                <div class="col-sm-2 form-group mb-2">
                                    <label>Data de Nascimento</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 form-group mb-2">
                                            <label>CEP</label>
                                            <input class="form-control" type="text" >
                                        </div>

                                <div class="col-sm-8 form-group mb-8">
                                    <label>Endereço</label>
                                    <input class="form-control" type="text" >
                                </div>
                                <div class="col-sm-2 form-group mb-2">
                                    <label>Nº</label>
                                    <input class="form-control" type="text" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 form-group mb-3">
                                    <label>Bairro</label>
                                    <input class="form-control" type="text" >
                                </div>
                                <div class="col-sm-2 form-group mb-2">
                                    <label>Complemento</label>
                                    <input class="form-control" type="text" >
                                </div>
                                <div class="col-sm-3 form-group mb-3">
                                        <label>Cidade</label>
                                        <input class="form-control" type="text" >
                                    </div>

                                    <div class="col-sm-1 form-group mb-1">
                                            <label>UF</label>
                                            <input class="form-control" type="text" >
                                        </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-5 form-group mb-5">
                                            <label>Sexo</label>
                                            <div>
                                                <label class="radio radio-inline radio-info">
                                                    <input type="radio" name="a" checked>
                                                    <span class="input-span"></span>Masculino</label>
                                                <label class="radio radio-inline radio-info">
                                                    <input type="radio" name="a">
                                                    <span class="input-span"></span>Feminino</label>
                                            </div>
                                    </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-4 form-group mb-4">
                                        <label>Situação</label>
                                        <select class="form-control">
                                                <option value="">ATIVO</option>
                                                <option value="">INATIVO</option>
                                            </select>
                                    </div>
                                    <div class="col-sm-5 form-group mb-5">
                                            <label>Graduação</label>
                                            <select class="form-control">
                                                    <option value="">FISIOTERAPIA</option>
                                                    <option value="">xxx</option>
                                                </select>
                                        </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-5 form-group mb-5">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-sm-5 form-group mb-5">
                                        <label>E-mail 2</label>
                                        <input class="form-control" type="text" >
                                    </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-2 form-group mb-2">
                                            <label>Fone Fixo</label>
                                            <input class="form-control" type="text" >
                                        </div>

                                        <div class="col-sm-2 form-group mb-2">
                                                <label>Fone Celular</label>
                                                <input class="form-control" type="text" >
                                            </div>
                                </div>                                                             
                               
                                <div class="row">
                                        <div class="col-sm-2 form-group mb-2">
                                            <label>Caixa Arquivo</label>
                                            <input class="form-control" type="text" >
                                        </div>
                                     
                                </div>
                                                  
                        </div>
                        <div class="ibox-footer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <div class="tab-pane tab-pane-profile  fade" id="cobranca">
            <div class="row mb-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body flexbox-b">
                                    <button class="btn btn-primary btn-labeled btn-labeled-left btn-icon" data-target="#guia-modal" data-toggle="modal" href="javascript:;">
                                        <span class="btn-label"><i class="la la-money"></i></span>Gerar guia</button>
                            </div>
                        </div>

                        <div class="form-group" id="date_1">
                                <label class="font-normal"></label>
                                <div class="input-group date">
                                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" type="text" value="04/12/2017">
                                </div>
                            </div>
                    </div>

                    
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body ">

                                    <div class="ibox-body">
                                            <div class="row mb-4">
                                                <div class="col-6 text-center" style="border-right: 1px solid #864180;">
                                                    <div class="text-muted">Exercício Fiscal</div>
                                                    <div  style="color: #864180 !important;" class="h2 mt-1">R$1.159,21</div>
                                                </div>
                                                <div class="col-6 text-center">
                                                    <div class="text-muted">Taxas</div>
                                                    <div  style="color: #864180 !important;" class="h2 mt-1">R$0,00</div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                    <div class="col-6 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
                                                        <div class="text-muted">Anos Anteriores/Dívida</div>
                                                        <div class="h2 text-success mt-1">R$0,00</div>
                                                    </div>
                                                    <div class="col-6 text-center">
                                                        <div class="text-muted">Acordo de Cobrança</div>
                                                        <div class="h2 text-success mt-1">R$1.242,47</div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card mb-4">
                            <div class="card-body ">
                                    <div  class="text-muted">TOTAL DÉBITOS</div>
                                    <div class="h1 mt-4">R$2.401<sup>.68</sup></div>
                                   
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-head flex-row-reverse">
                                <div class="ibox-title">Taxa SELIC: 1</div>
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#anoexecfiscal" data-toggle="tab">Ano Exercício Fiscal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#anosanteriores" data-toggle="tab">Anos Anteriores</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#taxas" data-toggle="tab">Taxas</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link" href="#acordo" data-toggle="tab">Acordo de Cobrança</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="#guaspagas" data-toggle="tab">Guia(s) Pagas(s)</a>
                                            </li>
                                </ul>
                            </div>
                            <div class="ibox-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active " id="anoexecfiscal">
                                            <div class="table-responsive row">
                                                    <table class="table table-bordered table-hover" id="datatable">
                                                        <thead class="thead-default thead-lg">
                                                            <tr>
                                                                    <th class="no-sort sorting_disabled" rowspan="1" colspan="1" style="width: 62px;" aria-label=""><label class="checkbox checkbox-success">
                                                                            <input type="checkbox">
                                                                            <span class="input-span"></span></label></th>
                                                                <th>Guia</th>
                                                                <th>Ano</th>
                                                                <th>Data Ref.</th>
                                                                <th>Descrição</th>
                                                                <th>V. Original</th>
                                                                <th>V. Corr.</th>
                                                                <th>Multa</th>
                                                                <th>Juros</th>
                                                                <th>Valor Total</th>
                                                                <th>Opções</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                    <td><label class="checkbox checkbox-success">
                                                                            <input type="checkbox">
                                                                            <span class="input-span"></span></label></td>
                                                                <td>14000000000657527</td>
                                                                <td> 2018 </td>
                                                                <td>29/10/2018</td>
                                                                <td>ANUIDADE COTA ÚNICA - A</td>
                                                                <td>R$ 487,26</td>
                                                                <td>R$ 490,11</td>
                                                                <td>R$ 9,80</td>
                                                                <td>R$ 19,60</td>
                                                                <td>R$ 519,51</td>
                                                                <td><button class="btn btn-success btn-icon-only btn-sm btn-air"><i class="la la-print"></i></button>
                                                                    <button  class="btn btn-primary btn-icon-only btn-sm btn-air"><i class="la la-envelope"></i></button></td>
                                                            </tr>     
                                                            <tr>
                                                                    <td><label class="checkbox checkbox-success">
                                                                            <input type="checkbox">
                                                                            <span class="input-span"></span></label></td>
                                                                    <td>14000000000657931</td>
                                                                    <td> 2018 </td>
                                                                    <td>31/10/2018</td>
                                                                    <td>ANUIDADE PROPORCIONAL - A </td>
                                                                    <td>R$ 118,74</td>
                                                                    <td>R$ 119,44</td>
                                                                    <td>R$ 2,39</td>
                                                                    <td>R$ 4,78</td>
                                                                    <td>R$ 126,61</td>
                                                                    <td><button class="btn btn-success btn-icon-only btn-sm btn-air"><i class="la la-print"></i></button>
                                                                        <button  class="btn btn-primary btn-icon-only btn-sm btn-air"><i class="la la-envelope"></i></button></td>
                                                                </tr>  
                                                                <tr>
                                                                        <td><label class="checkbox checkbox-success">
                                                                                <input type="checkbox">
                                                                                <span class="input-span"></span></label></td>
                                                                        <td>14000000000658321</td>
                                                                        <td> 2018 </td>
                                                                        <td>04/11/2018</td>
                                                                        <td>ANUIDADE COTA ÚNICA = A</td>
                                                                        <td>R$ 487,26</td>
                                                                        <td>R$ 488,66</td>
                                                                        <td>R$ 9,77</td>
                                                                        <td>R$ 14,66</td>
                                                                        <td>R$ 513,09</td>
                                                                        <td><button class="btn btn-success btn-icon-only btn-sm btn-air"><i class="la la-print"></i></button>
                                                                            <button  class="btn btn-primary btn-icon-only btn-sm btn-air"><i class="la la-envelope"></i></button></td>
                                                                    </tr>                                              
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="ibox">
                                                        <div class="ibox-body">
                                                                <div class="form-group mb-6">
                                                                        <div class="input-group form-control-air mb-6">
                                                                            <span class="input-group-addon">Total Débitos Ano Exercício Fiscal:</span>
                                                                            <input class="form-control" type="text" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group mb-6">
                                                                            <div class="input-group form-control-air mb-6">
                                                                                <span class="input-group-addon">Data Primeira Parcela:</span>
                                                                                <input class="form-control" type="text" >
                                                                            </div>
                                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>   
                                                
                                    </div>
                              
 
                                    <div class="tab-pane fade text-center" id="anosanteriores">
                                        <div class="h1 mt-5 mb-3">Anos Anteriores</div>
                                    </div>
                                    <div class="tab-pane fade text-center" id="taxas">
                                        <div class="h1 mt-5 mb-3">Taxas</div>
                                    </div>
                                    <div class="tab-pane fade text-center" id="acordo">
                                        <div class="h1 mt-5 mb-3">Acordo</div>
                                    </div>
                                    <div class="tab-pane fade text-center" id="guiaspagas">
                                        <div class="h1 mt-5 mb-3">Guias Pagas</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                 </div>
                 
    <div class="tab-pane tab-pane-profile fade text-center" id="certificado">
        <div class="h1 mt-5 mb-3">TAB 3</div>
        <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
    </div>
    
    <div class="tab-pane tab-pane-profile fade text-center" id="arquivodigital">
        <div class="h1 mt-5 mb-3">TAB 4</div>
        <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
    </div>
    
    <div class="tab-pane tab-pane-profile fade text-center" id="documento">
        <div class="h1 mt-5 mb-3">TAB 5</div>
        <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
    </div>
</div>



<div class="modal fade " id="protocolo-modal">
  <div class="modal-dialog modal-xl" role="document">
    <form class="modal-content">
      <div class="modal-header p-4">
        <h5 class="modal-title">Protocolo</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="flexbox mb-4">
          <div class="table-responsive row">
            <table class="table table-bordered table-hover" id="ocorrencias">
              <thead class="thead-default thead-lg">
              <tr>
                <th class="no-sort sorting_disabled" rowspan="1" colspan="1" style="width: 62px;" aria-label=""><label class="checkbox checkbox-success">
                  <input type="checkbox">
                  <span class="input-span"></span></label></th>
                <th>Data</th>
                <th>Regsitrado por:</th>
                <th>Ocorrência</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><label class="checkbox checkbox-success">
                  <input type="checkbox">
                  <span class="input-span"></span></label></td>
                <td>17/02/2019</td>
                <td> Ivo Silva </td>
                <td>Eviado boletos anuidade 2019...</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between bg-primary-50">
        <div>
          <button class="btn btn-primary btn-rounded mr-3">Nova Ocorrência</button>
          <label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0"><i class="la la-paperclip font-20"></i>
            <input type="file">
          </label>
          <label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0"><i class="la la-image font-20"></i>
            <input type="file">
          </label>
          <button class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle"><i class="la la-link font-20"></i></button>
        </div>
        <a class="text-danger"><i class="la la-trash font-20"></i></a>
      </div>
    </form>
  </div>
</div>


<div class="modal fade " id="new-mail-modal">
        <div class="modal-dialog modal-xl" role="document">
            <form class="modal-content">
                <div class="modal-header p-4">
                    <h5 class="modal-title">Ocorrências</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <div class="flexbox mb-4">
                            <div class="table-responsive row">
                                    <table class="table table-bordered table-hover" id="ocorrencias">
                                        <thead class="thead-default thead-lg">
                                            <tr>
                                                    <th class="no-sort sorting_disabled" rowspan="1" colspan="1" style="width: 62px;" aria-label=""><label class="checkbox checkbox-success">
                                                            <input type="checkbox">
                                                            <span class="input-span"></span></label></th>
                                                <th>Data</th>
                                                <th>Regsitrado por:</th>
                                                <th>Ocorrência</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                    <td><label class="checkbox checkbox-success">
                                                            <input type="checkbox">
                                                            <span class="input-span"></span></label></td>
                                                <td>17/02/2019</td>
                                                <td> Ivo Silva </td>
                                                <td>Eviado boletos anuidade 2019...</td>
                                            </tr>                                              
                                        </tbody>
                                    </table>
                                </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between bg-primary-50">
                    <div>
                        <button class="btn btn-primary btn-rounded mr-3">Nova Ocorrência</button>
                        <label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0"><i class="la la-paperclip font-20"></i>
                            <input type="file">
                        </label>
                        <label class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle file-input mb-0"><i class="la la-image font-20"></i>
                            <input type="file">
                        </label>
                        <button class="btn btn-sm btn-transparent btn-secondary btn-icon-only btn-circle"><i class="la la-link font-20"></i></button>
                    </div>
                    <a class="text-danger"><i class="la la-trash font-20"></i></a>
                </div>
            </form>
        </div>
    </div>
