<style>
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(57, 230, 54, 0.14);
  }

  .login-content {
    max-width: 400px;
    margin: 100px auto 50px;
  }

  .auth-head-icon {
    position: relative;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #fff;
    color: #5c6bc0;
    box-shadow: 0 5px 20px #d6dee4;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
</style>

<div class="overlay"></div>
<div class="cover"></div>
<div class="ibox login-content">
  <div class="text-center">
    <span class="auth-head-icon"><i class="la la-user"></i></span>
  </div>
  <form class="ibox-body" id="login-form" #form="ngForm" (ngSubmit)="login()">
    <h4 class="font-strong text-center mb-5">Login</h4>
    <div class="form-group mb-4">
      <input class="form-control form-control-line" type="text" name="login" placeholder="Usuário" required="required" [(ngModel)]="user.login">
    </div>
    <div class="form-group mb-4">
      <input class="form-control form-control-line" type="password" name="password" placeholder="Senha" required="required" [(ngModel)]="user.password">
    </div>
    <div class="flexbox mb-5">
            <span>
                <label class="ui-switch switch-icon mr-2 mb-0">
                    <input type="checkbox" checked="">
                    <span></span>
                </label>Lembrar</span>
      <a class="text-primary" routerLink="/forgot_password">Esqueceu a senha?</a>
    </div>
    <div class="text-center mb-4">
      <button type="submit" class="btn btn-primary btn-rounded btn-block">LOGIN</button>
    </div>
  </form>
</div>
