<div class="middle-box text-center loginscreen animated fadeInDown" style="height: 100%">
  <div>
    <div>

      <h1 class="logo-name"></h1>

    </div>
    <h3>Login</h3>
    <form class="m-t" role="form" action="index.html" #form="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" class="form-control"  name="cpf" placeholder="Informe seu CPF" required="required" [(ngModel)]="user.cpf">
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  name="password" placeholder="Digite sua senha" required="required" [(ngModel)]="user.password">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

      <a href="#"><small>Esqueceu a senha?</small></a>
    </form>
  </div>
</div>
