.atualizaParcela{

    background: #e5f4ffbf;
    padding: 10px;
    border-left: #2e8a2c solid 5px;
    margin-top: 45px;
}

.auxilio-modal .modal-dialog {
 min-width: 80%;

}

.totalizadores{
    border-left: 3px #e6a038 solid;
    padding-left: 15px;
    margin-left: 27px;
}