<!-- ============================================================== -->
<!-- Overview, Visits, Sales, Order -->
<!-- ============================================================== -->

<div class="col-sm-12 col-lg-12">
    <div class="card ">
        <div class="card-body">
            <form name="activeForm" [formGroup]="activeForm"  >

            <div class="row">
                <!-- column -->
                <div class="col-sm-12 col-lg-12">
                    <h4>Calcula Novo Auxilio</h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label col-form-label">Valor do auxílio</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">R$</span>
                                    </div>
                                    <input  type="text"  formControlName="vlrauxilio"  class="form-control"  aria-label="Valor do auxílio" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Quantidade de parcelas</label>
                                <select  formControlName="qtdparcelas" class="form-control" >
                                    <option value="1" selected>1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                    <option value="6" >6</option>
                                    <option value="7" >7</option>
                                    <option value="8" >8</option>
                                    <option value="9" >9</option>
                                    <option value="10" >10</option>
                                    <option value="11" >11</option>
                                    <option value="12" >12</option>
                                    <option value="13" >13</option>
                                    <option value="14" >14</option>
                                    <option value="15" >15</option>
                                    <option value="16" >16</option>
                                    <option value="17" >17</option>
                                    <option value="18" >18</option>
                                    <option value="19" >19</option>
                                    <option value="20" >20</option>
                                    <option value="21" >21</option>
                                    <option value="22" >22</option>
                                    <option value="23" >23</option>
                                    <option value="24" >24</option>
                                    <option value="25" >25</option>
                                    <option value="26" >26</option>
                                    <option value="27" >27</option>
                                    <option value="28" >28</option>
                                    <option value="29" >29</option>
                                    <option value="30" >30</option>
                                    <option value="31" >31</option>
                                    <option value="32" >32</option>
                                    <option value="33" >23</option>
                                    <option value="34" >34</option>
                                    <option value="35" >35</option>
                                    <option value="36" >36</option>

                                </select>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Porcentagem</label>
                                <select (change)="calculaVlrParcela()"  formControlName="porcentagem" class="form-control" >

                                    <option value="4" selected >4%</option>
                                    <option value="5" >5%</option>
                                    <option value="6" >6%</option>
                                    <option value="7" >7%</option>
                                    <option value="8" >8%</option>
                                    <option value="9" >9%</option>

                                </select>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label ">Valor das parcelas</label>
                                <input  type="text" [value]="vlrparcela" formControlName="vlrparcelas"  class="form-control"  aria-label="Valor do auxílio" aria-describedby="basic-addon1">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            </form>
        </div>
    </div>
</div>

<div class="col-sm-12 col-lg-12">
    <div class="card ">
        <div class="card-body">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <h4 class="card-title">Calculo Refinanciamento</h4>
                <hr>

                <form name="refisForm" [formGroup]="refisForm"  >

                    <div class="row">

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label ">Novo Valor das parcelas</label>
                                <input   type="text" [value]="vlrparcelarefis" formControlName="vlrparcelas"  class="form-control"  aria-label="Valor do auxílio" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Porcentagem</label>
                                <select  formControlName="porcentagem" class="form-control" >
                                    <option value="5" >5%</option>
                                    <option value="6" >6%</option>
                                    <option value="7" >7%</option>
                                    <option value="8" >8%</option>
                                    <option value="9" >9%</option>

                                </select>

                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label">Nova Quantidade de parcelas</label>
                                <select (change)="calculaVlrParcelaRefis()"  formControlName="qtdparcelas" class="form-control" >
                                    <option value="1" selected>1</option>
                                    <option value="2" >2</option>
                                    <option value="3" >3</option>
                                    <option value="4" >4</option>
                                    <option value="5" >5</option>
                                    <option value="6" >6</option>
                                    <option value="7" >7</option>
                                    <option value="8" >8</option>
                                    <option value="9" >9</option>
                                    <option value="10" >10</option>
                                    <option value="11" >11</option>
                                    <option value="12" >12</option>
                                    <option value="13" >13</option>
                                    <option value="14" >14</option>
                                    <option value="15" >15</option>
                                    <option value="16" >16</option>
                                    <option value="17" >17</option>
                                    <option value="18" >18</option>
                                    <option value="19" >19</option>
                                    <option value="20" >20</option>
                                    <option value="21" >21</option>
                                    <option value="22" >22</option>
                                    <option value="23" >23</option>
                                    <option value="24" >24</option>
                                    <option value="25" >25</option>
                                    <option value="26" >26</option>
                                    <option value="27" >27</option>
                                    <option value="28" >28</option>
                                    <option value="29" >29</option>
                                    <option value="30" >30</option>
                                    <option value="31" >31</option>
                                    <option value="32" >32</option>
                                    <option value="33" >23</option>
                                    <option value="34" >34</option>
                                    <option value="35" >35</option>
                                    <option value="36" >36</option>

                                </select>

                            </div>
                        </div>



                    </div>

                    <div class="row">

                        <div class="col-3">
                            <div class="form-group">
                                <label class="control-label col-form-label">Novo Valor do auxílio</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">R$</span>
                                    </div>
                                    <input (change)="setValorExtensoRefis()"  type="text"  formControlName="vlrauxilio"  class="form-control"  aria-label="Valor do auxílio" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="col-7">
                            <div class="form-group">
                                <label class="control-label">Valor extenso</label>
                                <input readonly style="text-transform: uppercase;" formControlName="vlrauxextenso"  type="text" class="form-control">

                            </div>
                        </div>


                    </div>

                </form>


            </div>


        </div>
    </div>
</div>
