<div class="page-heading">
    <h1 class="page-title">Cadastro de usuarios</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Administrativo</li>
        <li class="breadcrumb-item">usuarios</li>
    </ol>
  <div class="page-content fade-in-up">

    <div class="ibox">
      <div class="ibox-body">
        <button routerLink="/usuario/novo" class="btn btn-primary btn-labeled btn-labeled-left btn-icon">
          <span class="btn-label"><i class="la la-user"></i></span>Novo usuario</button>
        <br>
      </div>
    </div>

    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Usuários</h5>

            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="profissioanl-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Login</th>
                            <th>E-mail</th>
                            <th>Setor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of usuarios "  style="cursor: pointer;"  [routerLink]="'/usuario/'+p.id+'/'">
                            <td>{{p.id}}</td>
                            <td>{{p.nome}}</td>
                            <td>{{p.login}}</td>
                            <td>{{p.email}}</td>
                            <td>{{p.setor}}</td>

                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
